$maincolor: #4db6ac;
$secondarycolor: #004d40;
* {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.1em;
}

.main-box {
    padding: 0;
    min-height: 100vh;
}

.title-page {
    background-color: $maincolor;
    border: 2px solid $secondarycolor;
}

.title-page>h1 {
    margin: 0 1em;
    line-height: 2em;
}

.login-box {
    border: 2px solid $secondarycolor;
    width: 40%;
    margin: auto;
    margin-top: 10%;
}

.title-login {
    background-color: $maincolor;
    border-bottom: 2px solid $secondarycolor;
}

.title-login>h2 {
    margin: 0 1em;
    line-height: 2em;
}

.form-inputs {
    width: 70%;
    margin: 2em auto;
}

.form-inputs>input {
    margin: .5em auto;
}

.form-inputs>.btn {
    width: 49%;
}

.btn-primary {
    background-color: $maincolor !important;
    border: none;
    opacity: .8;
}

.btn-primary:hover {
    opacity: 1;
}

.form-inputs>#salir {
    display: inline-block;
    margin-left: auto;
    border-color: $maincolor;
}


/* MENU PRINCIPAL */

.menu-box {
    margin-left: 2em;
}

.title-menu {
    background-color: $maincolor;
    border-bottom: 2px solid $secondarycolor;
}

.title-menu>h2 {
    margin: 0 1em;
    line-height: 2em;
}

.menu-box {
    width: 75%;
    margin-top: 1.5em;
    border: 2px solid $secondarycolor;
    padding: 0;
}

.display-4 {
    font-size: 2.5em;
}

ul {
    list-style: none;
    margin-left: -1.4em;
}

.salir-menu {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: .8em;
    margin-bottom: .8em;
    border-color: $maincolor;
    padding-left: 2.2em;
    padding-right: 2.2em;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.calendar>img {
    margin-bottom: -4em;
}